.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    width: 380px;
    padding: 25px 20px;
    border: 1px solid var(--card-border-color, blue);
    border-radius: 6px;
    color: var(--card-text-color, blue);
    background-color: var(--card-background-color, blue);
    box-shadow: var(--card-box-shadow, 0 0 4px 4px blue);
}

.title {
    margin-bottom: -4px;
    color: var(--card-text-color, blue);
    font-size: 1.4rem;
    font-weight: 700;
}

.subtitle {
    color: var(--card-text-dim-color, blue);
    text-align: center;
    font-size: 1rem;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 12px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 8px;
}

.label {
    color: var(--card-text-color, blue);
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.form-message {
    color: red;
    font-size: small;
    text-align: left;
}

.form-message:empty {
    display: none;
}

.submit {
    margin-top: 9px;
    text-transform: uppercase;
}

.server-message {
    color: var(--card-text-highlight-color, blue);
    text-align: center;
}

.server-message:empty {
    display: none;
}

.success-modal-window {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 16px;
    width: 280px;
    max-width: 380px;
    padding: 25px 20px;
    border-radius: 6px;
    color: var(--modal-window-text-color, blue);
    text-align: center;
    background-color: var(--modal-window-background-color, blue);
}

@media only screen and (width < 440px) {
    .wrapper {
        width: auto;
    }
}

@media only screen and (max-width: 439px) {
    .wrapper {
        width: auto;
    }
}
