@keyframes blinking {
    50% {
        opacity: 0.5;
    }
}

.navbar {
    overflow-x: auto;
}

.navbar::-webkit-scrollbar {
    display: none;
    height: 2px;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    column-gap: 8px;
}

.navbar-item {
    flex-shrink: 0;
    padding: 0px 12px;
    user-select: none;
    padding: 0;
}

.navbar-item:hover .navbar-item-image {
    filter: brightness(1.2);
    /* transition: all 0.15s ease; */
}

.navbar-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.navbar-item-link-content {
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    align-items: center;
    column-gap: 8px;
    padding: 8px;
    border-radius: 8px;
    color: var(--navbar-item-text-color-default);
    background-color: var(--navbar-item-background-color-default);
    opacity: 1;
    text-decoration: none;
    transition:
        color 0.1s,
        background-color 0.1s,
        opacity 0.1s;
}

.navbar-item-link-content:hover {
    color: var(--navbar-item-text-color-hover);
    background-color: var(--navbar-item-background-color-hover);
}

.navbar-item-link-content:active {
    color: var(--navbar-item-text-color-active);
    background-color: var(--navbar-item-background-color-active);
}

.navbar-item-icon {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
}

.navbar-item-image {
    width: 1rem;
    height: 1rem;
    object-fit: cover;
    border-radius: 4px;
    transition: all 0.15s ease;
}

.navbar-item-text {
    font-weight: 400;
    text-transform: uppercase;
}
.navbar-subitem {
    font-weight: 400;
    height: 64px;
}

.navbar-item-link.is-active > .navbar-item-link-content {
    color: var(--navbar-item-text-color-active);
    background-color: var(--navbar-item-background-color-active);
}

.navbar-item-link.is-active > .navbar-item-link-content:active {
    color: var(--navbar-item-text-color-active);
    background-color: var(--navbar-item-background-color-active);
    opacity: 0.65;
}

.navbar-item-link.is-pending {
    color: var(--navbar-item-text-color-active);
    background-color: var(--navbar-item-background-color-active);
    animation: blinking 1s linear infinite;
    cursor: wait;
    pointer-events: visible;
}

.navbar-item-context-popup {
    max-height: calc(100vh - var(--header-height) - 12px);
    overflow: auto;
}
